<configuration scan="true" scanPeriod="5 minutes">
    <insertFromJNDI env-entry-name="java:comp/env/kb-api-logback-config" as="logbackConfiguration"/>

    <include file="${logbackConfiguration}"/>
    <!--  <include file="${user.home}/projects/kb-api/conf/localtomcat9_halh/logback.xml"/>-->
  </configuration>
